@media (max-width: 1000px) {
  table {
    width: 90%;
  }
  th,
  td {
    border: none;
    padding: 1.5vh;
    font-size: 2.2vh;
  }
  th {
    background-color: #a9c0a6;
  }
  .today {
    background-color: #a9c0a6;
    font-weight: bold;
    font-size: 2vh;
    padding: 0.6vh;
  }
}

@media (max-width: 800px) {
}

@media (max-width: 420px) {
}
